@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.product-slider {
  /* background-color: #4a90e2; */
  /* padding: 20px;
  height: 10dvh;
  border-radius: 10px; */
  position: relative;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  min-height: 50dvh;
  border: 1px solid grey;
}

.product-slide {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; */
  min-height: 48px;
  background-color: #4a90e2;
  padding: 24px 48px;
  position: relative;
  max-width: 600px;
}

.product-slide img {
  position: absolute;
  /* max-width: 100%;
  min-height: 800px;
  object-fit: contain; */
  max-height: 40dvh;
  width: 50%;
  bottom: 0;
  left: 30%;
}

.price-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
}

